.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.top-banner {
    border: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 600px;
    width: 100%;
}

.top-banner text {
    align-items: center;
    color: yellow;
}